img
{
    height: 33.333%;
    width: 100%;
}

#p1
{
    font-family: sans-serif;
    background: linear-gradient(to right, #37611D, #42AD00);
    position: absolute;
    color: antiquewhite;
    font-size: 24px;
}

#p2
{
    font-family: sans-serif;
    background: linear-gradient(to right, #37611D, #42AD00);
    position: absolute;
    transform: translateY(-285px);
    color: antiquewhite;
    font-size: 21px;
}
