.image
{
    height: 30%;
    width: 100%;
}

#p1
{
    font-family: sans-serif;
    background: linear-gradient(to right, #37611D, #42AD00);
    position: absolute;
    color: antiquewhite;
    font-size: 18px;
}

#p2
{
    font-family: sans-serif;
    background: linear-gradient(to right, #37611D, #42AD00);
    position: absolute;
    transform: translateY(-273px);
    color: antiquewhite;
    font-size: 21px;
}
